body {
    background: url(../images/battle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 10vw;
    height: auto;
}

.blue-border {
    border: 0px solid blue;
}

.red-border {
    border: 0px solid red;
}

.green-border {
    border: 0px solid green;
}
.orange-border {
    border: 0px solid orange;
}
footer {
    margin-top: 100px
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }